.profile{
    height:40vh;
    width:100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: violet;
    position: relative;

    .profileImg{
       height:150px;
       width:150px;
       border-radius: 50%;
       overflow: hidden;

       img{
           height:100%;
           width:100%;
       }

       .imgAlt{
        height:100%;
        width:100%;
        color:lightgrey;
       }
    }
    .profileInfo{
        height:auto;
        width: 100vw;

        .profileInfoIn{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
           
            span{
                margin-top:3px;
            }
        }
    }
    .topLeft{
        position: absolute;
        top:10px;
        right:10px;
    }
    .bottomCenter{
        position: absolute;
        top:40vh;
        left:50vw;
        transform: translate(-85%,-90%);
    }
    .btn{
        padding: 1.5% 1% 1.5% 1%;
       margin: 5% 10% 0 8%;
        text-align: center;
        background-color: #0093D4;
        color: rgb(255, 255, 255);
        border: whitesmoke;
        border: 10px;
        border-radius: 1vw;
        outline: none;
        border: 2px solid #b9babb;
        font-size: large;
    }
    .btn:hover{
    
        transform: scale(1.01);
        background-color: #056a95;
    }
    
}